.portada {
    margin-bottom: 5vh;
}

.container .card {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    background-color: #f2f2f200;
    box-shadow: #f2f2f200;
    margin-bottom: 10px;
}

.container .card .imgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    left: 10px;
    box-shadow: #f2f2f200;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
    align-items: center;
}

.container .card .imgContainer img {
    transition: 0.3s ease-in-out;
    width: 400px;
}

.container .card:hover .imgContainer img {
    width: 500px;
    transition: 0.3s ease-in-out;
}

.container .card .content {
    position: absolute;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    box-shadow: #f2f2f200;

}

.imgContainer:hover+.content,
content:hover {
    position: relative;
    opacity: 1;
    transition: opacity 0.3s linear;
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    box-shadow: #f2f2f200;
}

.info-empleado {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}